{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm">
    <div class="row g-0">
        {% if game.cover_image %}
        <div class="col-md-4">
         <img src="{{ game.cover_image.url }}" class="img-fluid rounded-start" alt="{{ game.title }}" style="height: 250px; object-fit: cover;">


        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ game.title }}</h3>
                <p><strong>Alusta:</strong> {{ game.platform.name }}</p>
                <p><strong>Ikäraja:</strong> {{ game.age_rating }}+</p>
                <p>{{ game.description }}</p>
                <p>
                    <strong>Tila:</strong>
                    {% if game.available %}
                        <span class="badge bg-success badge-large">Vapaa</span>
                    {% else %}
                        <span class="badge bg-secondary badge-large">Varattu</span>
                    {% endif %}
                </p>

                {% if user.is_authenticated and game.available %}
                    <form method="post" action="{% url 'loan_game' game.pk %}">
			
                    {% csrf_token %}
			<div class="mb-3">

	                	 <label for="loan_period">Laina-aika:</label>
        	          	 <select name="loan_period" class="form-select w-auto d-inline-block ms-2" required>
                	  	  <option value="7">1 viikko</option>
                           	  <option value="14">2 viikkoa</option>
                           	  <option value="21">3 viikkoa</option>
                           	  <option value="28">4 viikkoa</option>
                          </select>
			</div>
                    <button class="btn btn-success mt-3 ms-2">Vuokraa peli</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
